In [163]:
import pandas as pd


def strip_string(s):
    if type(s)==str:
        s = s.strip()
    return s


def clean(df):
    df = df.iloc[1:]
    df = df.dropna(how='any')
    df = df.rename(columns=lambda x: x.strip())
    df = df.applymap(strip_string)
    return df

In [164]:
df = pd.read_csv('../datasets/raw/mwg14_poly.csv', delimiter='|')

In [165]:
df = clean(df)
df.describe()

                 mwg14                                        geometria92
count             8627                                               8627
unique            8627                                               8627
top     30640296704101  0106000020840800000100000001030000000100000009...
freq                 1                                                  1

In [166]:
df_loc = pd.read_csv('../datasets/raw/mwg14_miejsc.csv', delimiter='|')
df_loc = clean(df_loc)
df_loc['nazwa_pow'].unique()
df_krk = df_loc[df_loc['nazwa_pow'] == 'KRAKÓW']
df_krk.head()

,mwg14_2015,kod_pocztowy,nazwa_miejsc,kod_miejsc,nazwa_cz_miejsc,kod_cz_miejsc,kod_gminy,kod_gminy_distr,nazwa_woj,nazwa_pow,nazwa_gmi,segment_gminy
3580,12610393926408,31-985,KRAKÓW,0950463,KRAKÓW-NOWA HUTA,0950718,1261011.0,1261039.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-NOWA HUTA,A1
3581,12610393926407,31-985,KRAKÓW,0950463,KRAKÓW-NOWA HUTA,0950718,1261011.0,1261039.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-NOWA HUTA,A1
3582,12610393926606,31-985,KRAKÓW,0950463,KRAKÓW-NOWA HUTA,0950718,1261011.0,1261039.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-NOWA HUTA,A1
3583,12610393926605,31-985,KRAKÓW,0950463,KRAKÓW-NOWA HUTA,0950718,1261011.0,1261039.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-NOWA HUTA,A1
3584,12610393926603,31-985,KRAKÓW,0950463,KRAKÓW-NOWA HUTA,0950718,1261011.0,1261039.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-NOWA HUTA,A1

In [167]:
df_krk.keys()
krk_ids = pd.DataFrame(df_krk['mwg14_2015'])
krk_ids = krk_ids.rename(index=str, columns={"mwg14_2015": "mwg14"})
krk_ids.head()

               mwg14
3580  12610393926408
3581  12610393926407
3582  12610393926606
3583  12610393926605
3584  12610393926603

# Join all csvs with area polygon and save to /krk

In [168]:
df = pd.read_csv(f"../datasets/raw/mwg14_miejsc.csv", delimiter='|')


csvs = ['b2b', 'dochod', 'demo', 'miejsc']
for c in csvs:
    df = pd.read_csv(f"../datasets/raw/mwg14_{c}.csv", delimiter='|')
    df = clean(df)
    df = df.rename(index=str, columns={"mwg14_2015": "mwg14"})
    df = pd.merge(df_areas, df, on='mwg14')
    df.to_csv(f"../datasets/krk/{c}.csv")

# test

In [169]:
df = pd.read_csv('../datasets/krk/miejsc.csv')

In [170]:
df.head()

,Unnamed: 0,mwg14,geometria92,kod_pocztowy,nazwa_miejsc,kod_miejsc,nazwa_cz_miejsc,kod_cz_miejsc,kod_gminy,kod_gminy_distr,nazwa_woj,nazwa_pow,nazwa_gmi,segment_gminy
0,0,12610493932792,0106000020840800000100000001030000000100000006...,30-611,KRAKÓW,950463.0,KRAKÓW-PODGÓRZE,950960.0,1261011.0,1261049.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-PODGÓRZE,A1
1,1,12610593946308,0106000020840800000100000001030000000100000008...,31-126,KRAKÓW,950463.0,KRAKÓW-ŚRÓDMIEŚCIE,951327.0,1261011.0,1261059.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-ŚRÓDMIEŚCIE,A1
2,2,12610293910021,0106000020840800000100000001030000000100000009...,30-009,KRAKÓW,950463.0,KRAKÓW-KROWODRZA,950470.0,1261011.0,1261029.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-KROWODRZA,A1
3,3,12610393924405,0106000020840800000100000001030000000100000006...,31-922,KRAKÓW,950463.0,KRAKÓW-NOWA HUTA,950718.0,1261011.0,1261039.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-NOWA HUTA,A1
4,4,12610393923303,0106000020840800000100000001030000000100000009...,31-976,KRAKÓW,950463.0,KRAKÓW-NOWA HUTA,950718.0,1261011.0,1261039.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-NOWA HUTA,A1

In [171]:
df.tail()

,Unnamed: 0,mwg14,geometria92,kod_pocztowy,nazwa_miejsc,kod_miejsc,nazwa_cz_miejsc,kod_cz_miejsc,kod_gminy,kod_gminy_distr,nazwa_woj,nazwa_pow,nazwa_gmi,segment_gminy
4331,4331,12610593939128,0106000020840800000100000001030000000100000033...,31-421,KRAKÓW,950463.0,KRAKÓW-ŚRÓDMIEŚCIE,951327.0,1261011.0,1261059.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-ŚRÓDMIEŚCIE,A1
4332,4332,12610593940813,010600002084080000010000000103000000010000005B...,31-476,KRAKÓW,950463.0,KRAKÓW-ŚRÓDMIEŚCIE,951327.0,1261011.0,1261059.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-ŚRÓDMIEŚCIE,A1
4333,4333,12610593945721,0106000020840800000100000001030000000100000066...,31-572,KRAKÓW,950463.0,KRAKÓW-ŚRÓDMIEŚCIE,951327.0,1261011.0,1261059.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-ŚRÓDMIEŚCIE,A1
4334,4334,12610593952206,0106000020840800000100000001030000000100000011...,31-539,KRAKÓW,950463.0,KRAKÓW-ŚRÓDMIEŚCIE,951327.0,1261011.0,1261059.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-ŚRÓDMIEŚCIE,A1
4335,4335,12610593952302,010600002084080000010000000103000000010000000C...,31-559,KRAKÓW,950463.0,KRAKÓW-ŚRÓDMIEŚCIE,951327.0,1261011.0,1261059.0,MAŁOPOLSKIE,KRAKÓW,KRAKÓW-ŚRÓDMIEŚCIE,A1